{% extends 'base.html.twig' %}
{% block header %}Url edit{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(delete_form) }}
        <div class="btn-group">
            <a href="{{ path('url_index') }}" class="btn bg-info">Back to the list</a>
            <a type="submit" class="btn btn-danger" onclick='return confirm("Are you sure?")'>Delete</a>
        </div>
        {{ form_end(delete_form) }}
    </div>
    <br>
    <div class="row">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-success"/>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
