{% extends 'base.html.twig' %}
{% block header %}Url{% endblock %}

{% block body %}
    <div class="row">
        <div class="btn-group">
            <a href="{{ path('url_index') }}" class="btn bg-primary">Back to the list</a>
            <a href="{{ path('url_edit', { 'id': url.id }) }}" class="btn bg-primary">Edit</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tbody>
            <tr>
                <th>Url</th>
                <td>/{{ url.regex }}/</td>
            </tr>
            <tr>
                <th>Phrase</th>
                <td>{{ url.phrase }}</td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{ url.startDate is empty ? "∞" : url.startDate | localizeddate('full', 'none', app.request.locale ) }}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ url.endDate is empty ? "∞" : url.endDate | localizeddate('full', 'none', app.request.locale ) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger" onclick='return confirm("Are you sure?")'>Delete</button>
    {{ form_end(delete_form) }}
    </div>

{% endblock %}
