{% extends 'base.html.twig' %}
{% block header %}Url{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <th>Regex</th>
                <td>{{ url.regex }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('url_index') }}" class="btn bg-info">Back to the list</a>

            <a href="{{ path('url_edit', { 'id': url.id }) }}" class="btn bg-info">Edit</a>

            {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Delete</button>
            {{ form_end(delete_form) }}

{% endblock %}
