<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ODIS{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets
        'bundles/app/css/bootstrap.css'
        'bundles/app/css/main.css'
        filter='cssrewrite' output='css/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
    <div class="container">
        <div class="page-header">
            <h1>{% block header %}ODIS{% endblock %}</h1>
        </div>
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap-datepicker.min.js') }}"></script>
            <script>
                $(document).ready(function() {
                    $('.js-datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
